body{
    background-color:powderblue;
}
hr{
    border-style:dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
h3{
    background-color: #66bfbf;
    width: 10%;
    color: aliceblue;
}
h1{
    background-color: #66bfbf;
    width: 50%;
    color: aliceblue;
}
.circular{

    border-radius: 100%;
    
}
